#popup-wrapper {
    height: 100vh;
    width: 100%;
    background: none;
    position: fixed;
    //
    right: 0;
    top: 0;
    //transform: translateX(-85%);

    z-index: 4;

    #popup-container {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);

        max-width: 400px;
        width: 80%;
        height: auto;
        min-height: 200px;
        border-radius: 10px;
        background-color: white;
        opacity: 1;

        #loading {
            position: relative;
            left: 43%;
            top: 0%;
        }

        #upload-image-header {
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid lightgray;
            background-color: #e0e0e0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;

            #upload-image-title {
                margin-left: 10px;
            }

            #cancel-upload-image {
                margin-right: 10px;
                border: none;
                background: none;
                font-size: 17px;
            }
        }

        #choose-file {
            margin-top: 60px;
            padding: 0px 10px;
            height: 20px;
            //font-size: 15px;
        }

        #upload-image-button {
            margin: auto;
            width: 100px;
            height: 100px;
            border: none;
            border-radius: 20%;
            background-color: pink;
        }

        #selected-image-file {
            width: 90%;
            max-width: 200px;
            height: auto;
            max-height: 400px;
            margin: 20px auto;
            margin-top: 60px;
        }

        .buttons {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 20px;
        }

        #alert-message {
            width: 90%;
            margin: auto;
            font-size: 10px;
            color: #ec486a;
        }
    }
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 3;
}
