#detail-outfit-window {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 90%;
    align-items: center;
    height: 85vh;

    #image-window {
        margin: 20px 40px;
        display: flex;
        justify-content: center;
        background-color: rgb(66, 66, 66);
        border: 2px solid rgb(124, 112, 117);
        border-radius: 5px;
        min-height: 60%; // Temp value
        img {
            max-width: inherit;
            max-height: 400px;
        }
        #date {
            position: absolute;
            top: 135px;
            color: white;
            background-color: rgb(0, 150, 100);
            border-radius: 3px;
            //border: solid rgb(210, 221, 223) 1px;
            padding: 10px;
            font-size: 14px;
            #weather-icon {
                display: inline-block;
                margin-left: 10px;
            }
        }
        overflow: hidden;
    }

    #info-window {
        display: grid;
        height: 100%;
        grid-template-rows: auto 110px;
        flex-direction: column;
        justify-content: center;
        #items-info-window {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    #button-group {
        justify-self: end;
        display: flex;
        flex-wrap: wrap;
        width: 200px;
        margin-right: 20px;
        // flex-direction: column;
        align-content: flex-end;
        button {
            justify-self: flex-end;
            background-color: rgb(54, 54, 54);
            color: white;
            font-size: 17px;
            padding: 10px;
            border: none;
            border-radius: 20px;
            width: 200px;
            height: 40px;
            &:hover {
                cursor: pointer;
                background-color: rgb(172, 159, 159);
            }
            margin: 5px auto;
        }
    }
}
