#detail-outfit-window {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 90%;
    align-items: center;
    height: 85vh;

    #image-window {
        width: 80%;
        margin: 20px auto;
        height: 100%;
        display: grid;
        grid-template-rows: 20% 80%;
        grid-template-columns: 1fr;
        justify-content: center;
        #image-section {
            background-color: rgb(66, 66, 66);
            border: 2px solid rgb(124, 112, 117);
            border-radius: 5px;
            img {
                max-width: inherit;
            }
        }

        #date {
            color: white;
            background-color: rgb(0, 150, 100);
            border-radius: 3px;
            height: 15px;
            padding: 10px;
            font-size: 14px;
            width: 130px;
            text-align: center;
            justify-self: center;
            align-self: center;
            #weather-icon {
                display: inline-block;
                margin-left: 10px;
            }
        }
        overflow: hidden;
    }

    #info-window {
        display: grid;
        height: 100%;
        width: 90%;
        margin: 0 auto;
        grid-template-rows: auto 110px;
        grid-template-columns: 1fr;
        flex-direction: column;
        justify-content: center;
        #items-info-window {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .Item {
                margin-left: 0;
            }
        }
    }

    #button-group {
        justify-self: end;
        display: flex;
        flex-wrap: wrap;
        width: 200px;
        align-content: flex-end;
        button {
            justify-self: flex-end;
            background-color: rgb(54, 54, 54);
            color: white;
            font-size: 17px;
            padding: 10px;
            border: none;
            border-radius: 20px;
            width: 200px;
            height: 40px;
            &:hover {
                cursor: pointer;
                background-color: rgb(172, 159, 159);
            }
            margin: 5px auto;
        }
    }
    @media (max-width: 1000px) {
        min-height: 85vh;
        grid-template-columns: 50% 50%;
    }
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-rows: 60% auto;
        min-height: 85vh;
        #image-window {
            margin: 0 auto;
            width: 90%;
        }
    }
}
