.satisfaction-icon {
    max-height: 20px;
    max-width: 20px;

    padding: 5px 10px;

    margin: 5px 0;
    margin-left: 5px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px;

    img {
        width: 100%;
    }

    .null-icon {
        width: 20px;
    }
}
