#login-container {
    width: 40%;
    max-width: 400px;
    margin: 100px auto;
    #login-form {
        margin: 30px 0 10px;
        label {
            position: relative;
            color: gray;
            //top: 10px;
            margin: 0;
            margin-left: 10px;
            padding: 0;
            font-size: 12px;
        }
        input[type="text"],
        input[type="password"] {
            width: 98%;
            padding: 25px 10px 5px 10px;
            font-size: 15px;
            font-weight: 700;
            margin: -20px 0 20px;
            margin-right: 2%;
            border: 1px solid #ccc;
            box-sizing: border-box;
            &:focus {
                outline: none;
                border-left: deeppink 4px solid;
            }
        }
    }
    button {
        border: none;
        width: 120px;
        height: 40px;
        border-radius: 3px;
        font-size: 15px;
        margin-right: 40px;
        margin-bottom: 20px;
        &#login-button {
            color: white;
            background-color: black;
            cursor: pointer;
            &:disabled {
                background-color: rgb(163, 163, 163);
                cursor: not-allowed;
            }
        }
        &#signup-button {
            color: darkslategray;
            background-color: white;
            border: 1px darkslategray solid;
        }
    }
    @media (max-width: 768px) {
        width: 70%;
    }
    @media (max-width: 500px) {
        width: 80%;
        margin: 50px auto;
    }
}
