#header {
    display: flex;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    position: fixed;
    top: 0;
    width: 90%;
    background-color: white;
    box-shadow: rgb(121, 121, 121) 0 1px 5px;
    button {
        border: none;
        width: 100px;
        height: 35px;
        border-radius: 20px;
        font-size: 15px;
        &#signup-button {
            color: white;
            background-color: black;
            cursor: pointer;
        }
        &#login-button {
            color: darkslategray;
            cursor: pointer;
            margin-right: 20px;
        }
    }
    @media (max-width: 500px) {
        button {
            border: none;
            width: 80px;
            height: 25px;
            margin: 5px;
            font-size: 12px;
        }
    }
    // padding-bottom: 10px;
    // border-bottom: 1px lightgray solid;
}
