#image-window {
    padding: 70px;
    display: flex;
    align-items: center;
}
#image-window img {
    border: 2px solid rgb(216, 206, 206);
}
#info-window #items-info-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#info-window #add-confirm-buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#info-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.CreateOutfit {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    height: 100vh;
}
