.tag-in-outfit {
    background-color: #ee7185;

    color: #fff;

    padding: 5px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 15px;

    margin: 4px;

    border-radius: 10px;

    cursor: pointer;
}
.Tag {
    display: inline-block;
}
.edit-tag-input {
    width: 100px;
    border: none;
    background-color: #f1cfdf;
    color: black;
}
.delete-tag {
    display: inline-block;
}

.edit-tag {
    display: inline-block;
}
