$fontsize: 14px;
.tag-in-outfit {
    background-color: #ee7185;
    color: #fff;
    font-weight: 500;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-size: $fontsize;
    margin: 4px;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    .tag-text {
        font-size: $fontsize;
        padding: 0 3px;
    }
    input {
        font-size: $fontsize;
        padding: 0 3px;
        margin-left: 2px;
        width: 50px;
        max-width: fit-content;
        border: none;
        color: black;
    }
}

.delete-tag,
.edit-tag {
    margin: 0 2px;
    font-size: 12px;
    line-height: $fontsize;
}
