#calendar {
    background-color: white;
    box-shadow: 0 0 5px 10px white;
    border-radius: 25px;
    border-collapse: collapse;
    table-layout: fixed;

    width: 100%;
    height: 100%;
    margin-left: 15vw;
    margin-right: 15vw;

    @media (max-width: 500px) {
        border-radius: 0px;
    }

    #calendar-header {
        th {
            width: 5vw;
            padding-bottom: 1vh;
            border-right: 0.5px solid black;
        }

        .last-column {
            border-right: none;
        }
    }
    tbody {
        font-family: "Indie Flower", cursive;

        td {
            text-align: center;
            padding: 0px;
            margin: 0px;

            width: 1vw;
            height: 20vh;

            max-height: 100%;
            position: relative;
            border-top: 0.5px solid black;
            border-right: 0.5px solid black;

            background-repeat: no-repeat;
            background-size: cover;
            background-position: center 15%;

            .calendar-overlay {
                width: 100%;
                height: 100%;
                background-color: black;
                opacity: 0.2;
            }

            .inactive {
                display: none;
            }

            .date-cell-header {
                vertical-align: top;

                .date {
                    position: absolute;
                    top: 5px;
                    left: 5px;
                }

                .weather-icon {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }
            }

            .date-cell-body {
                .satisfaction-icon-calendar {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 30%;
                    font-size: 45px;
                    display: flex;
                    justify-content: center;
                    z-index: 10;

                    .emoticon_on_calendar_cell {
                        width: 100%;
                        max-width: 60px;
                    }
                }
            }
        }

        .last-column {
            border-right: none;
        }

        .has-outfit {
            cursor: pointer;
        }
    }
}
