#calendar {
    background-color: #fcedcc;
    box-shadow: 0 0 5px 10px #fcedcc;
    border-radius: 25px;

    border-collapse: collapse;
    #calendar-header {
        th {
            width: 50px;
            border-right: 0.5px solid black;
            padding: 5px 0px;
            opacity: 100%;
        }

        .last-column {
            border-right: none;
        }
    }
    tbody {
        td {
            padding: 0px;
            margin: 0px;
            height: 100px;
            position: relative;
            border-top: 0.5px solid black;
            border-right: 0.5px solid black;

            .date {
                position: absolute;
                top: 5px;
                left: 5px;
            }
        }

        .last-column {
            border-right: none;
        }

        .with-date {
            cursor: pointer;
        }
    }
}
