#options-container {
    width: 530px;
    display: flex;
    z-index: 1;
    background-color: white;
    &:hover {
        background-color: adjust-hue($color: rgb(255, 245, 247), $degrees: 4);
    }
    .tag-in-outfit {
        background-color: rgb(248, 211, 222);
        color: none;
    }
}
