#Main {
    .intro-content {
        display: grid;
        grid-template-rows: 40% 60%;

        min-height: 90vh;
        padding: 0 5%;

        #intro-text {
            text-align: center;
            width: fit-content;
            margin: 70px auto;
            font-size: 30px;
            span {
                font-size: 60px;
                font-weight: 900;
                line-height: 100px;
            }
            @media (max-width: 768px) {
                span {
                    font-size: 40px;
                }
            }
        }

        #image-container {
            display: flex;
            justify-content: center;
            overflow: hidden;
            #intro-image {
                flex-shrink: 0;
                height: 80%;
                margin: 20px auto 40px;
                position: relative;
                align-self: end;
            }
        }
    }

    #content-2 {
        background-color: rgba(218, 165, 32, 0.3);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        h1 {
            width: 60%;
            margin: 70px auto 0;
            text-align: center;
            @media (max-width: 768px) {
                width: 100%;
                margin-top: 30px;
                font-size: 25px;
            }
        }
        #information-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            .features-info {
                .features-icon {
                    font-size: 80px;
                    text-align: center;
                    width: 90px;
                    height: 90px;
                    border-radius: 100%;
                    margin: 0 auto 20px;
                    padding: 30px;
                    background-color: white;
                    //color: rgb(116, 63, 27);
                    color: black;
                }
                h4 {
                    margin: 15px auto;
                    text-align: center;
                    font-size: 20px;
                }
                text-align: center;
                width: 220px;
                height: 350px;
                padding: 25px;
                margin: 20px;
                border-radius: 10px;
                font-size: 17px;
                font-weight: 400;

                color: white;
                background-color: #495159;
            }
        }
    }

    footer {
        height: 15vh;
        background-color: rgb(36, 97, 158);
        display: flex;
        align-items: center;
        #footericon {
            width: 150px;
            height: 70px;
            margin-left: 30px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(./Logo_point.png);
        }
        #footertext {
            text-align: left;
            color: white;
            margin-left: 20px;
            line-height: 20px;
            a {
                color: lightyellow;
            }
        }
        @media (max-width: 768px) {
            height: fit-content;
            padding: 20px;
            flex-wrap: wrap;
            justify-content: center;
            #footericon {
                width: 100px;
                height: 50px;
                margin: 0 auto;
            }
            #footertext {
                width: 100%;
                margin: 0;
                text-align: center;
            }
        }
    }
}
