$fontsize: 20px;
$templatecolor: rgba(127, 255, 212, 0.3);

#browse {
    min-height: inherit;
    overflow: auto;
    background-color: rgba(211, 211, 211, 0.3);
    #calendar-button {
        border: none;
        background-color: rgb(248, 223, 227);
        color: gray;
        border-radius: 2px;
        padding: 5px 10px;
        font-size: $fontsize;
        box-shadow: rgba(0, 0, 0, 0.6) 0 0 2px;
        cursor: pointer;
        margin-left: 60px;
    }

    #search-container {
        width: fit-content;
        margin: 15px auto;
        border: 1px lightgray solid;
        display: flex;

        #select-searchmode {
            width: 80px;
            font-size: 17px;
            #selected-option {
                height: 43px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                #selected-text {
                    margin: 0 5px 0 10px;
                }
                #selectButton {
                    height: 43px;
                    width: 20px;
                    line-height: 43px;
                    font-size: 15px;
                }
            }
            #dropdown-selection {
                position: absolute;
                width: 80px;
                background-color: white;
                overflow: hidden;
                transition: all ease-out 0.2s;
                .option {
                    padding: 5px 10px;
                    &:hover {
                        background-color: lightgray;
                        cursor: pointer;
                    }
                }
                &.true {
                    max-height: 60px;
                }
                &.false {
                    max-height: 0px;
                }
            }
        }
        #search-input {
            margin: 0;
            width: 450px;
            height: 43px;
            display: flex;
            background-color: white;
            padding-left: 5px;
            #search-input-queries {
                display: flex;
                align-items: center;
                height: 43px;
                width: fit-content;
            }
            #search-input-text {
                font-size: $fontsize;
                width: 400px;
                border: none;
                padding: 10px;
                padding-left: 5px;
                &:focus {
                    outline: none;
                }
            }
        }

        #search-button {
            font-size: $fontsize;
            border: none;
            padding: 10px;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            // &:hover {
            //     background-color: $templatecolor;
            // }
        }
    }
    #outfit-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        padding: 20px 50px;
        #search-filters {
            width: 20%;
            height: 100%;
            //border: gray 1px solid;
            padding: 0 10px;
            .filter-label {
                font-size: 15px;
            }
            #slider-container {
                $slider-size: 20px;
                height: 200px;
                margin: 20px 0;
                #slider-temp {
                    background-color: darkslategray;
                    width: 50px;
                    color: white;
                    border-radius: 3px;
                    text-align: center;
                }
                #slider {
                    height: 150px;
                    width: 5px;
                    margin: 20px 0;
                    .MuiSlider-root,
                    .MuiSlider-rail,
                    .MuiSlider-track {
                        width: 8px;
                    }

                    .MuiSlider-track {
                        width: 7px;
                        margin-left: 1px;
                        background-color: lightcoral;
                    }
                    .MuiSlider-rail {
                        width: 8px;
                        background-color: white;
                        border: 0.5px gray solid;
                    }
                    .MuiSlider-mark {
                        display: none;
                    }

                    .MuiSlider-thumb {
                        margin-left: -3px;
                    }
                }
            }
            .MuiFormGroup-root {
                margin: 15px 0;
                $buttonsize: 18px;
                .MuiFormControlLabel-root {
                    margin: 3px 0;
                }
                .MuiFormControlLabel-label {
                    font-size: 15px;
                }
                .MuiRadio-root {
                    padding: 3px;
                    width: $buttonsize;
                    height: $buttonsize;
                    color: rgba(0, 0, 0, 0.54);
                }

                .MuiSvgIcon-root {
                    width: $buttonsize;
                    height: $buttonsize;
                }
                .MuiRadio-colorSecondary.Mui-checked,
                .MuiIconButton-colorSecondary {
                    fill: rgb(248, 81, 81);
                }
            }
            #satisfaction-container {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
