.selector {
    display: inline-block;
}
.tag-area {
    display: inline-block;
}

.item-group {
    display: flex;
    margin: 5px;
}

.item-group .Select {
    width: 140px;
}

.item-deleter {
    background-color: wheat;
    margin: 9px;
    padding: 7px;
}

.mode-controller {
    background-color: cornflowerblue;

    border: none;

    color: #fff;

    padding: 5px;

    text-align: center;

    font-size: 15px;

    margin: 4px;

    border-radius: 10px;

    cursor: pointer;
}
