.selector {
    display: inline-block;
}
.tag-area {
    margin-left: 10px;
    display: inline-block;
}

.Select {
    height: 10px;
}

.item-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.info-container {
    display: flex;
}

.tag-input {
    padding-left: 10px;
}

.item-group .Select {
    width: 140px;
}

.item-deleter {
    background-color: wheat;
    margin: 9px;
    padding: 7px;
}

.mode-controller {
    background-color: lightgray;

    border: none;

    color: #fff;

    padding: 5px;

    text-align: center;

    font-size: 15px;

    margin: 4px;

    border-radius: 10px;

    cursor: pointer;
}
