.custom-select {
    position: relative;
    font-family: Arial;
}
.custom-select select {
    display: none;
}
.select-selected {
    background-color: goldenrod;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}
/* Style items (options): */
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
.selector {
    display: inline-block;
}
.tag-area {
    display: inline-block;
}

.item-group {
    background-color: wheat;
    display: inline-block;
    margin: 5px;
}

.item-deleter {
    background-color: wheat;
    display: inline-block;
    margin: 9px;
    padding: 7px;
}

.mode-controller {
    background-color: cornflowerblue;

    border: none;

    color: #fff;

    padding: 5px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 15px;

    margin: 4px;

    border-radius: 10px;

    cursor: pointer;
}
