#root {
    padding-top: 5vh;
    min-height: 95vh;

    @media (max-height: 1000px) {
        padding-top: 7vh;
        min-height: 93vh;
    }
    @media (max-height: 800px) {
        padding-top: 8vh;
        min-height: 92vh;
    }
}
