#edit-outfit-window {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 90%;
    align-items: center;
    height: 85vh;

    #image-window {
        margin: 20px 40px;
        display: flex;
        justify-content: center;
        background-color: rgb(66, 66, 66);
        border: 2px solid rgb(124, 112, 117);
        border-radius: 5px;
        img {
            max-width: inherit;
        }
        #edit-satisfaction {
            height: 50px;
            left: 50px;
        }
        overflow: hidden;
    }

    #date-picker {
        width: 140px;
        text-align: left;
        font-size: 14px;
        border: solid rgb(210, 221, 223) 1px;
        padding-bottom: 3px;
        padding-top: 3px;
        padding-left: 3px;
        font-style: italic;
        &:hover {
            cursor: pointer;
            background-color: rgb(204, 190, 190);
        }
    }
    #calendar-icon {
        color: lightgray;
        padding-right: 10px;
    }
    .date-picker-container {
        display: flex;
        justify-content: center;
        #weather-icon {
            margin-left: 10px;
            color: lightslategray;
        }
    }

    #info-window {
        display: flex;
        flex-direction: column;
        justify-content: center;
        #items-info-window {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .not-info {
            display: flex;
            justify-content: flex-start;
            #add-confirm-buttons-container {
                display: flex;
                justify-content: flex-start;
                margin-top: 10px;
            }

            #error-container {
                margin-top: 15px;
                margin-left: 65px;
                .item-error {
                    color: rgb(255, 2, 2);
                }
            }
        }
    }

    [data-tooltip-text]:hover {
        position: relative;
    }

    [data-tooltip-text]:hover:after {
        background-color: #000000;
        background-color: rgba(0, 0, 0, 0.7);

        -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.9);
        -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.9);
        box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        color: #ffffff;
        font-size: 12px;
        content: attr(data-tooltip-text);

        margin-bottom: 10px;
        top: 130%;
        left: -15px;
        padding: 7px 12px;
        position: absolute;
        width: auto;
        min-width: 120px;
        max-width: 500px;
        word-wrap: break-word;

        z-index: 9999;
    }

    #add-item {
        margin-left: 10px;
        margin-top: 10px;
        border: none;
        color: white;
        padding: 8px 15px;
        font-size: 15px;
        background-color: black;
        border-radius: 20px;
        &:hover {
            cursor: pointer;
        }
    }

    #initialize-button {
        margin-left: 10px;
        border: none;
        color: white;
        padding: 8px 15px;
        font-size: 15px;
        background-color: lightgray;
        border-radius: 20px;
        &:hover {
            cursor: pointer;
        }
    }
    #button-container {
        display: contents;
        justify-content: center;
        justify-items: center;
        button {
            grid-column: 2;
            justify-self: flex-end;
            background-color: rgb(54, 54, 54);
            color: white;
            font-size: 20px;
            padding: 10px;
            border: none;
            border-radius: 20px;
            width: 200px;
            &:hover {
                cursor: pointer;
                background-color: rgb(172, 159, 159);
            }
            margin: 5px 80px;
        }
    }
}
